{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
	<div class="container">
	
	<div class="intro-banner-wrap">
		<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
	</div>
	
	</div> <!-- container //  -->
	</section>
	<!-- ========================= SECTION MAIN END// ========================= -->
	
	<!-- ========================= SECTION  ========================= -->
	<section class="section-name padding-y-sm">
	<div class="container">
	
	<header class="section-heading">
		<a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
		<h3 class="section-title">Popular products</h3>
	</header><!-- sect-heading -->
	
		<!--product display  -->
	<div class="row">
		
		{% for product in products %}
		<div class="col-md-4 col-lg-3 mb-4">
			<div class="card shadow-sm border-0 rounded-4 overflow-hidden">
				<a href="./product-detail.html" class="img-wrap d-block bg-light">
					<img src="{{product.images.url}}" class="card-img-top img-fluid rounded-top" alt="{{ product.product_name }}">
				</a>
				<div class="card-body text-center">
					<h5 class="card-title">
						<a href="./product-detail.html" class="text-dark text-decoration-none fw-semibold">
							{{ product.product_name }}
						</a>
					</h5>
					<div class="price text-primary fw-bold fs-5">${{product.price}}</div>
				</div>
			</div>
		</div>
		{% endfor %}
	
	</div> <!-- row.// -->
	
	</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ========================= -->
	

{% endblock content %}








